<p>covid-impact works!</p>
<section class="wrapper analytics-main flex">
    <h1 class="text-center">ANALYTICS PAGE</h1>

    <div class="embedded-file">
        <!-- <embed src="https://gist.github.com/tamsay/9c4a09113b5a38f66fdbb634cb562ac0" type="">   -->
          <script src="https://gist.github.com/tamsay/9c4a09113b5a38f66fdbb634cb562ac0.js"></script>
    </div>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti debitis asperiores ullam facilis, ratione deleniti ipsa repellat nesciunt, ea doloremque pariatur nihil officiis cumque alias! Enim eum laboriosam doloribus voluptatem. <br><br>
    Nesciunt quas necessitatibus nulla facere laudantium recusandae commodi iusto reprehenderit numquam! Eligendi laboriosam, dolore illum blanditiis praesentium maiores voluptatem amet dignissimos, deserunt voluptatibus optio. Repudiandae iste ipsum vitae labore illum.<br><br>
    </p>
    <a href="assets\Visualization_With_Seaborn.html"><h1>View notebook/ Visualizations</h1></a>
  </section>