
      <section class="wrapper team-members-heading">
        <h1 class="text-center">TEAM MEMBERS PAGE</h1>
      </section>

      <section class="wrapper card2 flex" id="card2">
        <div class="card-container ">
          
          <img class="round" src="https://res.cloudinary.com/tamsay/image/upload/c_crop,w_2768/v1604719036/profile-image.jpg" alt="user" />
          <h3>Tolulade Ademisoye</h3>
          <h6>Data Scientist & Team Lead</h6>
          
          <div class="social-icons">
            <a href="#"><i class="fab fa-github fa-2x"></i></a>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          </div>
        </div>
        
        <div class="card-container ">
          
          <img class="round" src="https://res.cloudinary.com/tamsay/image/upload/v1605620197/Fadi_Remotexec_v0gsak.png" alt="user" />
          <h3>Fadi Masound</h3>
          <h6>Deep Learning Engineer & Data-Scientist</h6>
          <div class="social-icons">
            <a href="#"><i class="fab fa-github fa-2x"></i></a>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          </div>
        </div>

        <div class="card-container ">
          
          <img class="round" src="https://res.cloudinary.com/tamsay/image/upload/v1605678303/siham_i2e978.jpg" alt="user" />
          <h3>Siham Agzennay</h3>
          <h6>Economist Analyst & Data Scientist</h6>
          
          <div class="social-icons">
            <a href="#"><i class="fab fa-github fa-2x"></i></a>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          </div>
        </div>

        <div class="card-container ">
          
          <img class="round" src="https://res.cloudinary.com/tamsay/image/upload/c_crop,w_2768/v1604719036/profile-image.jpg" alt="user" />
          <h3>Oluwatobi Akintunlese</h3>
          <h6>Backend Developer & Data Scientist</h6>
          
          <div class="social-icons">
            <a href="#"><i class="fab fa-github fa-2x"></i></a>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          </div>
        </div>

        <div class="card-container ">
          
          <img class="round" src="https://res.cloudinary.com/tamsay/image/upload/v1605677372/IMG_20190702_141453-removebg_-_Copy_x07omj.png" alt="user" />
          <h3>Longe Temitope</h3>
          <h6>Frontend Engineer</h6>
          
          <div class="social-icons">
            <a href="https://github.com/tamsay" target="blank"><i class="fab fa-github fa-2x"></i></a>
            <a href="https://twitter.com/longetope" target="blank"><i class="fab fa-twitter fa-2x"></i></a>
          </div>
        </div>
        
      </section>
