
      <section class="wrapper team-members-heading">
        <h1 class="text-center">TEAM MEMBERS PAGE</h1>
      </section>

      <section class="wrapper card2 flex" id="card2">
        <div class="card-container ">
          
          <img class="round" src="https://res.cloudinary.com/tamsay/image/upload/c_crop,w_2768/v1604719036/profile-image.jpg" alt="user" />
          <h3>Tolulade Ademisoye</h3>
          <h6>Data Scientist & Team Lead</h6>
          
          <div class="social-icons">
            <a href="#"><i class="fab fa-github fa-2x"></i></a>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          </div>
        </div>
        
        <div class="card-container ">
          
          <img class="round" src="https://res.cloudinary.com/tamsay/image/upload/c_crop,w_2768/v1604719036/profile-image.jpg" alt="user" />
          <h3>Fadi Masound</h3>
          <h6>Deep Learning Engineer & Data-Scientist</h6>
          <div class="social-icons">
            <a href="#"><i class="fab fa-github fa-2x"></i></a>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          </div>
        </div>

        <div class="card-container ">
          
          <img class="round" src="https://res.cloudinary.com/tamsay/image/upload/c_crop,w_2768/v1604719036/profile-image.jpg" alt="user" />
          <h3>Siham</h3>
          <h6>Economist Analyst & Data Scientist</h6>
          
          <div class="social-icons">
            <a href="#"><i class="fab fa-github fa-2x"></i></a>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          </div>
        </div>

        <div class="card-container ">
          
          <img class="round" src="https://res.cloudinary.com/tamsay/image/upload/c_crop,w_2768/v1604719036/profile-image.jpg" alt="user" />
          <h3>Tobi Akin</h3>
          <h6>Backend Developer & Data Scientist</h6>
          
          <div class="social-icons">
            <a href="#"><i class="fab fa-github fa-2x"></i></a>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          </div>
        </div>

        <div class="card-container ">
          
          <img class="round" src="https://res.cloudinary.com/tamsay/image/upload/c_crop,w_2768/v1604719036/profile-image.jpg" alt="user" />
          <h3>Longe Temitope</h3>
          <h6>Frontend Engineer</h6>
          
          <div class="social-icons">
            <a href="#"><i class="fab fa-github fa-2x"></i></a>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          </div>
        </div>

        <div class="card-container ">
          
          <img class="round" src="https://res.cloudinary.com/tamsay/image/upload/c_crop,w_2768/v1604719036/profile-image.jpg" alt="user" />
          <h3>Member 1</h3>
          <h6>Developer, Scientist, Engineer</h6>
          
          <div class="social-icons">
            <a href="#"><i class="fab fa-github fa-2x"></i></a>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          </div>
        </div>
        
      </section>
