<section class="wrapper impact-heading">
    <h1 class="text-center">COVID IMPACT PAGE</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex incidunt reiciendis fuga asperiores obcaecati, alias
        corporis. Earum laudantium beatae rem officiis, repellat voluptate reprehenderit incidunt quaerat quia, eos, hic
        doloribus! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis corporis possimus atque laudantium.
        Vitae veniam, quae nulla sequi deleniti a, veritatis similique nostrum consequatur harum, tempora at laborum
        optio quibusdam!</p>
</section>

<section class="wrapper policy-impact">
    <h3>POLICY IMPACT</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex incidunt reiciendis fuga asperiores obcaecati, alias
        corporis. Earum laudantium beatae rem officiis, repellat voluptate reprehenderit incidunt quaerat quia, eos, hic
        doloribus! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis corporis possimus atque laudantium.
        Vitae veniam, quae nulla sequi deleniti a, veritatis similique nostrum consequatur harum, tempora at laborum
        optio quibusdam!</p>
</section>